<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="/common/global.css" />
    <link rel="stylesheet" href="index.css" />
    <script defer src="/components/header.js"></script>
    <script defer src="/components/footer.js"></script>
    <script defer src="index.js"></script>
    <title>야옹 잡화점</title>
  </head>
  <body>
    <header class="header"></header>
    <main>
      <section>
        <img id="product_thumbnail" src="" alt="thumbnail"/>
        <div id="info_box" class="card"></div>
      </section>
    </main>
    <footer class="footer"></footer>
  </body>
</html>