<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="index.css" />
  <title>야옹 잡화점</title>
</head>
<body>

  <main>
    <section>
        <img id="product_thumbnail" src="https://github.com/onblana/vanillajs-challenge/assets/51261847/ef77fe8d-6805-4096-ad4b-dfa627083e7c" alt="thumbnail"/>
      </div>
      <div id="info_box"></div>

    </section>
    <div class="description">
      <p>상품 상세 정보</p>
      <img src="https://github.com/onblana/vanillajs-challenge/assets/51261847/f3598738-5b91-42d2-8b68-3ed5ebfe84d2" alt="상세정보1">
      <img src="https://github.com/onblana/vanillajs-challenge/assets/51261847/4e0662f9-1c84-4db6-9375-83271f1e7f7d" alt="상세정보2">
    </div>
  </main>

  <footer class="footer">
    <div class="footer_title"><strong>야옹잡화점</strong></div>
    <div class="footer_info">
        <strong>meow store</strong> by elice sw engineer track web project 12 team
        Copyright © elice. All rights reserved
      </p>
    </div>
  </footer>

  <script src="index.js"></script>
</body>
</html>