<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="index.css" />
    
    <title>야옹 잡화점</title>
  </head>

  <header></header>
  <body>
    <section>
      <div class="delivery_info">
        <p>배송지 정보를 입력해주세요.</p>
        <label for="">수령인</label>
        <input type="text" id="receiver" placeholder="홍길동" />
        <label for="">연락처</label>
        <input type="text" id="contact" placeholder="010-0000-0000" />
        <label for="">배송지</label>
        <input type="text" id="zip_code" placeholder="12345" />
        <input type="text" id="address" placeholder="주소" />
        <input type="text" id="detail_address" placeholder="상세주소" />
        <label for="">배송 메세지</label>
        <input type="text" id="message" placeholder="(선택) 배송 시 요청사항" />
      </div>
      
  </section>
  </body>

  <footer class="footer">
    <div class="footer-title"><strong>야옹잡화점</strong></div>
    <div class="footer-info">
        <strong>meow store</strong> by elice sw engineer track web project 12 team
        Copyright © elice. All rights reserved
      </p>
    </div>
  </footer>
  
  <script src="index.js" type="module"></script>
</html>
