.content-wrap {
  margin: 22px 44px 0;
}
li {
  list-style: none;
}
.content-wrapper {
  height: 1000px;
}
.category-left {
  display: inline-block;
  width: 200px;
  margin-top: 100px;
}
.category-right {
  display: inline-block;
  margin-left: 200px;
  margin: 100px 200px 0;
  vertical-align: top;
}
.category-left {
  background-color: aliceblue;
  height: 100%;
}
.lowCateLi {
  cursor: pointer;
}
.lowCateLi.active {
  background-color: #d3d1d1;
}
#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.caret::before {
  content: '\25B6';
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.caret-down {
  background-color: rgb(146, 153, 153);
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}
.button.saveCategory {
  display: none;
}
.button.saveCategory.active {
  display: block;
}
