button {
  padding: 12px 10px;
  font-size: 18px;
  border: unset;
  cursor: pointer;
}
input {
  padding: 10px 12px;
  display: block;
  margin-bottom: 20px;
}
hr {
  background-color: black;
  height: 1px;
}
.title {
  margin-top: 30px;
}
.category-right input {
  width: 200px;
  display: block;
}
.category-left input {
  width: 170px;
  margin: 0;
  margin-top: 10px;
  margin-inline-start: 20px;
}
.category-left .input.cate {
  margin-top: 0;
}
button {
  margin-right: 15px;
}
.content-wrap {
  margin: 22px 44px 0;
}
li {
  list-style: none;
}
.container {
  height: 800px;
}
.category-left {
  display: inline-block;
  width: 20%;
  margin-top: 100px;
}
.category-right {
  display: inline-block;
  margin-left: 200px;
  margin: 100px 200px 0;
  vertical-align: middle;
}
.category-left {
  background: aliceblue;
  height: 100%;
  padding: 12px 30px;
  box-sizing: content-box;
  vertical-align: middle;
}
.lowCateLi {
  cursor: pointer;
}
.lowCateLi.active {
  background-color: #a39c97;
}
#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.caret::before {
  content: '\25B6';
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.caret-down {
  background-color: #84776e;
  padding: 4px 10px;
  color: whitesmoke;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}
.button.saveCategory {
  display: none;
}
.button.saveCategory.active {
  display: block;
  margin-top: 12px;
}
.nested-li > div {
  margin-bottom: 12px;
  padding-inline-start: 30px;
}
.nested-li > div:first-child {
  margin-top: 12px;
}
.nested-li > div > ul > li {
  margin-top: 5px;
  /* padding-inline-start: 30px; */
  padding-top: 2px;
  padding-bottom: 2px;
  margin-inline-start: 30px;
}
