.container.hr {
    width: 80%;
}
.tableContainer{
    margin: 50px;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border: 1px solid;
    border-color: rgb(155, 155, 155); 
    
}

table {
    padding: 5px;
    width: 400px;
    height: 50px;
    font-size : 10pt;
}

td {
    padding: 5px;
    font-weight: normal;
    background-color: rgb(236, 236, 236);
    border: 1px solid white;
}
th {
    padding: 5px;
    border: 1px solid white;
    background-color: darkgray;
}
.footer {
    padding: 20px;
}