/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* 헤더 스타일 */
header {
  background-color: #fffdf4;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.top-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.button-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.button-container button img {
  width: 100%;
  height: 100%;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

/* 내비게이션 스타일 */
.mainNav {
  text-align: center;
  background-color: #fffdf4;
  padding: 12px 0;
}
.mainNav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fffdf4;
}
.mainNav li {
  height: 50px;
  position: relative;
  flex-grow: 1;
}
.mainNav li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  width: 1px;
  background-color: #ccc;
}

.mainNav li:last-child::after {
  display: none; /* 맨 마지막 메뉴의 구분선 숨김 */
}
.mainNav div {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: rgb(244, 71, 71);
}
.mainNav li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(100, 100, 100);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #fffdf4;
  transition: 0.8s;
}

.mainNav li :hover {
  background-color: #84776e;
  color: whitesmoke;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main hr {
  width: 80%;
}

.tableContainer {
  margin: 50px;
  padding: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-color: rgb(155, 155, 155);
}
.tableContainer table {
  margin: 0 10px 10px 10px;
  width: 400px;
  height: 50px;
  font-size: 11pt;
  border-collapse: collapse;
  border-spacing: 0;
}

.tableContainer td {
  padding: 5px;
  font-weight: normal;
  background-color: rgb(236, 236, 236);
  border: 1px solid white;
}

.tableContainer th {
  padding: 5px;
  border: 1px solid white;
  background-color: darkgray;
}
.container {
  height: 600px;
  text-align: center;
}

/* 푸터 스타일 */
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
