/* category */
#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.caret::before {
  content: '\25B6';
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.selected-category {
  background-color: #84776e;
  padding: 4px 10px;
  color: whitesmoke;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
  margin-left: 30px;
}

.nested-li > div {
  margin-bottom: 12px;
}
.nested-li > div:first-child {
  margin-top: 12px;
}
.nested-li > div > ul > li {
  margin-top: 8px;
}
.active {
  display: block;
}

.modal-card-foot {
  justify-content: center;
}

.lowCateLi {
  cursor: pointer;
}
.lowCateLi.selected-category {
  background-color: #a39c97;
}
