main {
  margin: 60px 44px;
}
.title {
  margin-top: 20px;
}
.product_wrap {
  display: flex;
}
.product_left {
  background: gray;
  width: 200px;
  border: 1px solid #222;
  padding: 10px;
  display: flex;
  align-items: center;
}
.product_left span {
  vertical-align: sub;
  font-size: 12px;
  color: blueviolet;
}
.product_right {
  width: 1200px;
  display: flex;
  border: 1px solid #222;
  padding: 10px;
  flex-wrap: wrap;
}
.product_right input {
  width: 500px;
  padding: 10px;
}
.product_right span {
  display: flex;
  align-items: flex-end;
}

.product_right .input2 {
  width: 200px;
}
.product_right .won {
  display: flex;
  align-items: center;
}

.product_right .text2 {
  width: 1100px;
}

.product_right #area {
  width: 100%;
  padding: 10px;
}
.product .product_wrap:first-child > .product_right {
  align-items: center;
}
#uploadButton {
  margin-top: 40px;
}
.save-area {
  text-align: center;
}
.none {
  display: block;
}
.text3 {
  display: none;
}

.text-mini {
  font-size: 13px;
  color: #8d8d8d;
  margin-left: 10px;
}

.product_right .btn1 {
  padding: 30px;
}

.category-name {
  margin-left: 10px;
}
