<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <script src="index.js" type="module"></script>
    <title>야옹 잡화점</title>
    <link rel="stylesheet" href="index.css" />
    <script src="index.js" defer></script>
  </head>
  <body>
    <!-- header -->
    <header></header>
    <main>
      <!-- content 부분-->
      <section class="content-wrap">
        <div class="content-wrapper">
          <div class="order-complete">
            <h2 class="title">주문이 완료되었습니다.</h2>
            <hr />
            <div class="order-area">
              <div class="order-card">
                <ul>
                  <li>
                    <div class="order-list">
                      <span>주문자</span>
                      <span>김기범</span>
                    </div>
                  </li>
                  <li>
                    <div class="order-list">
                      <span>상품명</span>
                      <span>[사료]로얄캐닌 10kg</span>
                    </div>
                  </li>
                  <li>
                    <div class="order-list">
                      <span>주문번호</span>
                      <span>230706ssfesfes</span>
                    </div>
                  </li>
                  <li>
                    <div class="order-list">
                      <span>배송지</span>
                      <span>서울특별시 무슨구 무슨도로...</span>
                    </div>
                  </li>
                  <li>
                    <div class="order-list">
                      <span>상품 가격</span>
                      <span>140,000원</span>
                    </div>
                  </li>
                </ul>
                <hr />
                <div class="button-area">
                  <span>성공적으로 구매 완료 되었습니다.</span>
                  <button>주문내역 확인</button>
                  <button>홈으로</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
