<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <script src="index.js" type="module"></script>
    <title>야옹 잡화점</title>
    <link rel="stylesheet" href="../../../common/global.css" />
    <link rel="stylesheet" href="../../../common/mypage-aside.css" />
    <link rel="stylesheet" href="index.css" />
    <script type="module" src="index.js" defer></script>
    <script src="../../../components/header.js" defer></script>
    <script src="../../../components/footer.js" defer></script>
    <script src="../../../components/mypage-aside.js" defer></script>
    <script type="module" src="/api/index.js" defer></script>
  </head>
  <body>
    <!-- header -->
    <header class="header"></header>
    <main>
      <!-- aside tab부분 -->
      <aside class="aside-tab"></aside>
      <!-- content 부분-->
      <section class="content-wrap">
        <div class="content-wrapper">
          <h2 class="title">나의 주문 현황</h2>
          <span class="gray">최근 6개월 기준</span>
          <div class="content">
            <div class="content-area">
              <h3 class="text">배송준비중</h3>
              <span class="delivery-ready"></span>
            </div>
            <div class="content-area">
              <h3 class="text">배송중</h3>
              <span class="delivery"></span>
            </div>
            <div class="content-area">
              <h3 class="text">구매완료</h3>
              <span class="complete"></span>
            </div>
          </div>
          <div class="content">
            <div class="content-area">
              <a href="../mypage/modify-info">
                <i class="member-icon"></i>
              </a>
              <h3>회원 정보 수정</h3>
            </div>
            <div class="content-area">
              <a href="../purchase">
                <i class="order-icon"></i>
              </a>
              <h3>주문목록</h3>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
