/* 헤더 스타일 */
header {
  background-color: #fffdf4;
  padding: 20px;
  flex-direction: column;

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo-container {
  display: flex;
}

.top-right {
  display: flex;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0 0;
}

.button-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.button-container button img {
  width: 100%;
  height: 100%;
}

.logo {
  text-align: center;
  flex-grow: 1;
  align-self: center;
}

/* 내비게이션 스타일 */
.mainNav {
  background-color: #fffdf4;
}

.mainNav ul {
  display: flex;
  padding: 12px 0 0 0;
  margin: 0;
  height: 40px;
}

.mainNav li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(100, 100, 100);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.mainNav li:hover {
  background-color: #84776e;
  color: whitesmoke;
}

li.active {
  background-color: #84776e;
  color: whitesmoke;
}

/* 푸터 스타일 */
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
