main {
  /* margin: 40px 22px;
  height: 725px; */
}
aside.aside-tab {
  display: inline-block;
  background-color: #fff8c6;
  height: 500px;
  vertical-align: top;
}
.aside-tab {
  padding: 10px 16px;
}
.aside-tab ul li {
  margin-left: 30px;
  padding: 8px 0;
}
.aside-tab ul > div {
  /* margin: 7px 0; */
  margin-bottom: 7px;
}
.aside-tab .bold {
  font-size: large;
}
.aside-tab .title span {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 19px;
}
.aside-tab li:hover {
  background-color: rgb(83 81 78 / 13%);
}
