/* index.css */

/* 전체 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*allItems 아이템 스타일 */
.allItems {
  padding: 20px;
}

.allItems h2 {
  text-align: center;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 200px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.item p {
  font-size: 14px;
  color: #888;
}

.item:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-number {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.page-number.active {
  background-color: #a49474;
  color: #fff;
}
