<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/common/global.css" />
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script defer src="/components/header.js"></script>
    <script defer src="/components/footer.js"></script>
    <script defer src="index.js"></script>
    <!-- <script defer type="module" src="../api/index.js"></script> -->
    <title>야옹 잡화점</title>
  </head>
  <body>
    <!-- 1. header class를 가진 header요소 만들기 -->
    <header class="header"></header>

    <!-- main 요소에 본인 작업 넣기 -->
    <main>
      <section class="allItems">
        <h2></h2>
        <div class="item-box">
          <!-- 아이템 썸네일 -->
        </div>

        <div class="pagination"></div>
        <!-- 페이지네이션 컨테이너 -->
      </section>
    </main>

    <!-- footer클래스를 가진 footer만들기 -->
    <footer class="footer"></footer>
  </body>
</html>
