<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <script>
  function redirectToProductDetails(itemId) {
    location.href = `/product-details?id=${itemId}`;
  }
  </script>

  <title>야옹 잡화점</title>
</head>
<body>
  <header>
    <div class="top-right">
        <div class="button-container">
            <button><a href = ''><img src="icon-login.png" alt="Login" /></a></button>
            <button><a href = ''><img src="icon-cart.png" alt="Cart" /></a></button>
            <button><a href = ''><img src="icon-admin.png" alt="Admin" /></a></button>
        </div>
    </div>
    <div class="logo">
      <a href =''><img src="야옹잡화점.png" height="130px" width = "600px"></a>
    </div>
    <nav class = "mainNav">
      
    </nav>
  </header>
  
  <section class="allItems">
    <h2></h2>
    <div class="item-box">
      <!-- 아이템 썸네일 -->
    </div>
    
    <div class="pagination"></div> <!-- 페이지네이션 컨테이너 -->
  </section>
  
  <footer class = "footer">
      <div class = "info">
          <p>회사명 : 야옹잡화점</p>
          <p>대표이메일 : meowstore@moewmoew.com</p>
          <p>주소: 서울특별시 성동구 성수2가제3동 광나루로6길 49 성수낙낙</p>
      </div>
      <p class="copyright">Copyright © meowstore. all right reserved</p>
    </footer>
  
  <script src="index.js"></script>
</body>
</html>
