<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="index.css" />
    <title>야옹 잡화점</title>
  </head>
  <body>

    <h1 class="title is-2">장바구니</h1>
    <section>
      <div class="cart_top">
        <span>상품명</span>
        <span>수량</span>
        <span>가격</span>
        <button class="delete_all">전체 삭제</button>
      </div>
      <ul class="cart_list">
        <!-- 카트 상품 반복 -->
        <!--
        <li>
          <div class="product_wrap" product_id="${data._id}">
              <img src="${data.repImgUrl}" class="product_thumbnail" alt="thumbnail"/>
              <span>${data.name}</span>
              <span>
                <button class="qty_down" onclick="qtyDown(event)">-</button>
                <span class="product_qty" name="product_qty" >${data.qty}</span>
                <button class="qty_up" onclick="qtyUp(event)">+</button>
              </span>
              <span class="product_price">${data.price}</span>
              <button class="delete_each" onclick="deleteEach(event)">❌</button>
          </div>
        </li>
        -->
      </ul>
      <div class="sum">
        <span>총 결제 금액</span><span id="price_sum"></span>
      </div>
      <div class="order">
        <button id="order_btn" class="button is-warning">장바구니 상품 주문</button>
      </div>
    </section>

    <footer class="footer">
      <div class="footer-title"><strong>야옹잡화점</strong></div>
      <div class="footer-info">
          <strong>meow store</strong> by elice sw engineer track web project 12 team
          Copyright © elice. All rights reserved
        </p>
      </div>
    </footer>

    <script src="index.js"></script>
  </body>
</html>