<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" href="index.css" />
    <title>야옹 잡화점</title>
  </head>
  <body>
    
      <h1>장바구니</h1>
    <section class="section">
      <div class="cart_top">
        <span>상품명</span>
        <span>수량</span>
        <span>가격</span>
        <button class="delete_all">전체 삭제</button>
      </div>
      
      <ul class="cart_list">
        <!-- 카트 상품 반복 -->
      </ul>
    </section>

    <footer class="footer">
      <div class="footer-title"><strong>야옹잡화점</strong></div>
      <div class="footer-info">
          <strong>meow store</strong> by elice sw engineer track web project 12 team
          Copyright © elice. All rights reserved
        </p>
      </div>
    </footer>

    <script src="index.js"></script>
  </body>
</html>