<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>구매 내역</title>
  <link rel = "stylesheet" href = "index.css">
</head>
<body>
  <header class="header">
    
      <div class="top-right">
          <div class="button-container">
              <button><a href = ''><img src="icon-login.png" alt="Login" /></a></button>
              <button><a href = ''><img src="icon-cart.png" alt="Cart" /></a></button>
              <button><a href = ''><img src="icon-admin.png" alt="Admin" /></a></button>
          </div>
      </div>
      <div class="logo">
        <a href =''><img src="야옹잡화점.png" height="130px" width = "600px"></a>
      </div>
      <nav class = "mainNav">
        
      </nav>
    
    
    
  </header>

  <main>
    <div class = 'subtitle'><h1>구매 내역</h1></div>
    <section class="purchase-list">
      <article class="purchase-item">
        <img src="고양이사료썸네일.jpg" alt="Product Thumbnail" class="thumbnail">
        <div class="purchase-details">
          <span class="order-number">주문번호: 12345</span>
          <h3 class="product-name">상품 이름</h3>
          <span class="price">결제 가격: $19.99</span>
        </div>
        <div class = 'detailShipping'><button class="view-details">상세 내역 보기</button><div class="shipping-status">배송 상태</div></div>
        
      </article>

      <article class="purchase-item">
        <img src="고양이사료썸네일.jpg" alt="Product Thumbnail" class="thumbnail">
        <div class="purchase-details">
          <span class="order-number">주문번호: 54321</span>
          <h3 class="product-name">상품 이름</h3>
          <span class="price">결제 가격: $19.99</span>
        </div>
        <div class = 'detailShipping'><button class="view-details">상세 내역 보기</button><div class="shipping-status">배송 상태</div></div>
        
      </article>

      <article class="purchase-item">
        <img src="고양이사료썸네일.jpg" alt="Product Thumbnail" class="thumbnail">
        <div class="purchase-details">
          <span class="order-number">주문번호: 12345</span>
          <h3 class="product-name">상품 이름</h3>
          <span class="price">결제 가격: $19.99</span>
        </div>
        <div class = 'detailShipping'><button class="view-details">상세 내역 보기</button><div class="shipping-status">배송 상태</div></div>
        
      </article>
      

      <!-- 다른 구매 내역 항목들을 여기에 추가 -->
    </section>
  </main>

  <footer class="footer">
    <p>© 2023 구매 내역. All rights reserved.</p>
  </footer>
  <script src = 'index.js'></script>
</body>
</html>
