<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/common/global.css" />
    <link rel="stylesheet" href="index.css" />
    <script defer src="/components/header.js"></script>
    <script defer src="/components/footer.js"></script>
    <script defer type="module" src="index.js"></script>
    <title>구매 내역</title>
  </head>
  <body>
    <header class="header"></header>

    <main>
      <div class="subtitle">구매 내역</div>
      <section class="purchase-list">
        <!-- 다른 구매 내역 항목들을 여기에 추가 -->
      </section>
    </main>

    <footer class="footer"></footer>
  </body>
</html>
