<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <script src="index.js" type="module"></script>
    <title>회원가입</title>
    <link rel="stylesheet" href="../../../common/global.css" />
    <link rel="stylesheet" href="index.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="../../../components/header.js" defer></script>
    <script src="../../../components/footer.js" defer></script>
    <script type="module" src="index.js"></script>
    <script type="module" src="../../../api/index.js"></script>
  </head>
  <body>
    <header class="header"></header>
    <section class="content-wrapper">
      <div class="content-wrap">
        <h2 class="title">회원가입</h2>
        <table>
          <tbody>
            <tr>
              <th>아이디(이메일)</th>
              <td>
                <div>
                  <input type="text" id="email" />
                  <span class="check email"></span>
                </div>
              </td>
            </tr>
            <tr>
              <th>이름</th>
              <td>
                <div>
                  <input type="text" id="name-input" />
                  <span class="check name"></span>
                </div>
              </td>
            </tr>
            <tr>
              <th>휴대폰 번호</th>
              <td>
                <div>
                  <input type="text" id="phone-number" />
                  <span class="check phone"></span>
                </div>
              </td>
            </tr>
            <tr>
              <th>주소</th>
              <td>
                <div>
                  <!-- <span>서울특별시 무슨구 무슨도로...</span> -->
                  <button class="search-address">주소검색</button>
                  <span class="detail-address">우편 번호</span>
                  <input type="text" id="zipcode-input" readonly />
                  <span class="detail-address">도로명 주소</span>
                  <input type="text" id="address-input" readonly />
                  <span class="detail-address">상세 주소</span>
                  <input type="text" id="address-detail-input" />
                  <span class="check address"></span>
                </div>
              </td>
            </tr>
            <tr>
              <th>비밀번호</th>
              <td>
                <div>
                  <input type="password" id="password" />
                  <span class="check password-validation"></span>
                </div>
              </td>
            </tr>
            <tr>
              <th>비밀번호 확인</th>
              <td>
                <div>
                  <input type="password" id="password-check" />
                  <span class="check password-validation-check"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <button type="button" class="submit-button">가입하기</button>
        </div>
      </div>
    </section>
    <footer class="footer"></footer>
  </body>
</html>
